<md-content flex layout-padding ng-controller="ventasController">
    <div grid-options="gridOptions" grid-actions="gridActions">


        <div layout="row" layout-align="space-between center">
            <h2>Ventas Activas</h2>
            <md-input-container flex="20">
                <md-button class="md-raised md-primary create-button" ng-click="showCreateProductForm()">
                    Nueva Venta
                </md-button>
            </md-input-container>
        </div>

        <table class="table mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp ajustarTexto">
            <thead>
                <tr>
                    <th sortable="folio" class="sortable" style="width: 3%">
                        Folio Venta
                    </th>
                    <th sortable='id_cliente' class="sortable" style="width: 3%">
                        Clave Cliente
                    </th>
                    <th sortable='nombre' class="sortable" style="width: 6%">
                        Nombre
                    </th>
                    <th sortable="LandlordId" class="sortable" style="text-align: left; width: 3%">
                        Total
                    </th>
                    <th sortable="CuentaPredial" class="sortable" style="text-align: center; width: 4%">
                        Fecha
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr aria-sort="descending" style="height: 20px;" ng-repeat="product in ventas">
                    <td ng-bind="product.folio"></td>
                    <td ng-bind="product.id_cliente"></td>
                    <td ng-bind="product.nombre +' '+ product.apellido_paterno +' '+ product.apellido_materno"></td>
                    <td ng-bind="(product.total | currency)" style="text-align: left"></td>
                    <td ng-bind="product.fecha |  date:'dd/MM/yyyy'" style="text-align: center"></td>
                </tr>
            </tbody>
        </table>
    </div>
</md-content>