<md-dialog style="width: 100%; height: 100%; font-size: small">
    <form name="newVentaForm" ng-submit="newVentaForm.$valid">
        <md-toolbar>
            <div class="custom-modal md-toolbar-tools alingItemsCenter">
                <h5>Registro de Ventas</h5>
            </div>
        </md-toolbar>
        <md-dialog-content  md-theme="docs-dark" layout-gt="row" style="padding: 2em 2em 0em 2em; ">
            <div layout="row" layout-align="end center">
                <h6 style="color: rgb(4, 164, 4); height: 10px">Folio Venta: {{FolioActual}}</h6>
            </div>
            <div id="divCli" layout="row" layout-align="left center">
                <div style="border-radius: 5px; background-color: rgb(18, 107, 162); color:rgb(255, 255, 255) ">
                    <h4>Cliente: </h4>
                </div>
                <div style="width: 20px"></div>
                <input type="text" autocomplete="off" style="width: 300px;  height: 40px;" ng-model="selectedId"  name="cliente" placeholder="Buscar Cliente" required  ng-keyup="readClientesInd(busqueda)" class="form-control  txt-primary  mt-4 mb-4"/>
                <ul  ng-show="selectedCliente" class="list-group" ng-model="hidethis" ng-hide="hidethis">
                    <li class="list-group-item" ng-repeat="cliente in clientes" value="{{ cliente }}"  ng-click="cargacliente(cliente)" >{{ cliente.id_cliente }} - {{ cliente.nombre }} {{ cliente.apellido_paterno }}
                            {{ cliente.apellido_materno }}</li>
                </ul>
                
                <div style="width: 20px"></div>

                <h6 ng-model="selectedArticulo" style="color: royalblue" ng-if="rfc != ''">RFC: {{ rfc }} </h6>
            </div>
            <div layout="row" style="height: 40px" layout-align="left center">
                <div style="border-radius: 5px; background-color: rgb(18, 107, 162); color:rgb(255, 255, 255) ">
                    <h4>Articulo: </h4>
                </div>
                 <div style="width: 20px"></div>
                <input type="text" autocomplete="off" style="width: 300px;  height: 40px;" ng-model="selectedArticulo"  name="articulo" placeholder="Buscar Articulo"   ng-keyup="readArticuloInd(busqueda)" class="form-control  txt-primary  mt-4 mb-4"/>
                <ul  ng-show="selectedArticulo" class="list-group" ng-model="hidethis" ng-hide="hidethis">
                    <li class="list-group-item" ng-repeat="articulo in articulos" value="{{ articulo }}"  ng-click="cargaarticulo(articulo)" >
                            {{ articulo.id_articulo }} - {{ articulo.descripcion }}</li>
                </ul>
                
                <div style="width: 20px"></div>
                
                <button type="submit" class="btn btn-primary " ng-click="agregarCarrito(articuloCargado)">
                    <h6>Agregar</h6>
                </button>


            </div>

            <hr style="width: 100% ; size:5pt; color: black">
            <div id="gridArt" grid-options="gridOptions" grid-actions="gridActions">

                <table class="table mdl-data-table mdl-js-data-table  mdl-shadow--2dp ajustarTexto">
                    <thead>
                        <tr>
                            <th sortable="descripcion" class="sortable" style="text-align: left; width: 5%">
                                Descripcion del articulo
                            </th>
                            <th sortable='modelo' style="text-align: left; width: 4%">
                                Modelo
                            </th>
                            <th style="width: 3%">
                                Cantidad
                            </th>
                            <th style="text-align: left; width: 3%">
                                Precio
                            </th>
                            <th style="text-align: center; width: 3%">
                                Importe
                            </th>
                            <th style="width: 4%">
                                Acciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="height: 50px;" ng-repeat="product in ventasCarrito">
                            <td ng-bind="product.descripcion"></td>
                            <td ng-bind="product.modelo"></td>
                            <td>
                                <input type="number" id="myInput" style="width: 50px; height: 100%;" min="1"
                                    ng-change="actualizaImporte(product)" ng-model="product.cantidad">
                            </td>
                            <td ng-bind="(product.precio | currency)" style="text-align: left"></td>
                            <td ng-bind="(product.precio * product.cantidad | currency)" style="text-align: center">
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary "
                                    style=" background-color: rgb(214, 0, 0) " ng-click="eliminarArticulo(product)">
                                    <h5>Eliminar</h5>
                                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr style="width: 100% ; size:5pt; color: black">
            <div id="divTot" ng-show="ExisteArticulos">
                <div layout="row" style="margin-top: 10px" layout-align="end center">
                    <div style="background-color: rgb(125, 125, 117); color:rgb(255, 255, 255) ;border-radius: 5px; ">
                        <h6>Enganche: </h6>
                    </div>
                    <div style="width: 12%">
                        <p style="text-align: right">{{ Parametros.enganche | currency }}</p>
                    </div>
                    <div style="width: 20%"></div>
                </div>
                <div layout="row" style="margin-top: 10px" layout-align="end center">
                    <div style="background-color: rgb(125, 125, 117); color:rgb(255, 255, 255) ;border-radius: 5px; ">
                        <h6>Bonificación Enganche: </h6>
                    </div>
                    <div style="width: 12%">
                        <p style="text-align: right">{{ Parametros.bonificacion  | currency }}</p>
                    </div>
                    <div style="width: 20%"></div>
                </div>
                <div layout="row" style="margin-top: 10px" layout-align="end center">
                    <div style="background-color: rgb(125, 125, 117); color:rgb(255, 255, 255) ;border-radius: 5px; ">
                        <h6>Total: </h6>
                    </div>
                    <div style="width: 12%">
                        <p style="text-align: right">{{ Parametros.totalventa | currency }}</p>
                    </div>
                    <div style="width: 20%; ">
                        <button type="submit" class="btn btn-primary " ng-show="newVentaForm.$invalid"
                            style=" background-color: rgb(3, 144, 12) " ng-click="crearMensualidades()">
                            <h5>Siguiente</h5>
                        </button>
                    </div>
                </div>
            </div>

            <div id="divMens" ng-show="existeTotales">
                    <h2>ABONOS MENSUALES</h2>
                      <md-divider></md-divider>
                  
                      <md-radio-group ng-model="Parametros.plazo" style="width: 100%" required>
                        <div ng-repeat='mensualidad in Mensualidades' class="row" style="width: 100%">
                          <div style="width: 100%" layout='row' >
                  
                            <div flex style="max-width:50%;">
                              {{ mensualidad.meses }}{{ mensualidad.abonomensual | currency }}
                            </div>
                            <div flex style="max-width:40%;">
                                TOTAL A PAGAR  {{ mensualidad.totalpago | currency }}
                            </div>
                            <div flex style="max-width:30%;">
                                SE AHORRA {{ mensualidad.ahorro | currency }}
                            </div>
                            <md-radio-button  required
                                ng-value="mensualidad.id"
                                class="md-primary" style="max-width:10%;" >
                            </md-radio-button>
                  
                          </div>
                        </div>
                      </md-radio-group>
                  
                      <md-divider></md-divider>
                  </div>

        </md-dialog-content>

        <md-dialog-actions layout="row" style="padding-right: 2em; padding-bottom: 1em">
            <md-button type="submit" ng-click="guardar()" ng-disabled="newVentaForm.$invalid"
                ng-if="!saving">
                Guardar
            </md-button>

            <md-button ng-click="cancel()">
                Cancelar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>