md-dialog{ width:50%; }
.m-20px-0{ margin:20px 0; }
.m-b-20px{ margin-bottom:20px; }
.m-b-0px{ margin-bottom:0px; }
.md-info{ background-color:#2196F3 !important; color:#ffffff !important; }
.md-danger{ background-color:#D32F2F !important; color:#ffffff !important; }
.container-fluid{ background-color:rgb(0, 0, 0) !important; color:#ffffff !important; }
.w-5-pct{ width:5%; }
.w-10-pct{ width:10%; }
.w-20-pct{ width:20%; }
.w-30-pct{ width:30%; }
.w-35-pct{ width:35%; }
.w-40-pct{ width:40%; }
.w-50-pct{ width:50%; }
.w-60-pct{ width:60%; }
.w-70-pct{ width:70%; }
.w-80-pct{ width:80%; }
.w-90-pct{ width:90%; }
.w-100-pct{ width:100%; }
.t-a-c{ text-align:center; }
.t-a-l{ text-align:left; }
.margin-bottom-1em{ margin-bottom:1em; }
.md-toast.error {
    background-color: red;
}

.md-toast.success {
    background-color: green;
}

th:focus,
a:focus {
  outline: none; }
.codepen-wrap {
  margin-top: 15px; }
.mdl-data-table {
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 0px 6px #ccc;
  border-collapse: collapse;
  table-layout: fixed;
}
.mdl-data-table th {
  cursor: pointer; 
}
.mdl-data-table tr {
  transition: none !important;
}
th {
  text-align: left;
  padding: 1em;
}
td {
  border-top: 1px solid #ccc;
  padding-left: 1em;
  padding-right: 0px;
  overflow: auto;
}
th md-select {
  margin: 0; 
}
.column-editar {
  width: 213px;
}
.md-errors-spacer {
  display: none; }
ul.pagination {
  padding: 0;
  font-size: 0;
  display: inline-block; }
  .pagination > li {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    border: 1px solid #ddd;
    border-left: 0; }
    .pagination > li:first-child {
      border-left: 1px solid #ddd;
      border-radius: 2px 0 0 2px; }
    .pagination > li:last-child {
      border-radius: 0 2px 2px 0; }
  .pagination a {
    color: #444;
    font-size: 13px;
    padding: 0 10px;
    line-height: 30px;
    display: inline-block;
    text-decoration: none; }
  .pagination .active {
    background: #9c6601;
    border-color: #9c6601; }
    .pagination .active a {
      color: #fff; }
  .pagination-page.active {
    background: #9c6601; }
    .pagination-page.active a {
      color: #fff; }
.material-icons, .sortable span:before, .sortable span:after {
  font-family: 'Material Icons';
  font-size: 18px;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }
.sortable span {
  position: relative; }
  .sortable span:before {
    content: 'arrow_drop_down';
    position: absolute;
    right: -18px;
    top: -2px; }
  .sortable span:after {
    content: 'arrow_drop_up';
    position: absolute;
    right: -18px;
    top: -9px; }
.sortable.sort-ascent span:before {
  display: none; }
.sortable.sort-ascent span:after {
  top: -5px; }
.sortable.sort-descent span:before {
  top: -5px; }
.sortable.sort-descent span:after {
  display: none; }
.data-grid-total-label {
  font-size: 1.1em;
  font-weight: bold;
}
  @media (max-width: 700px) {
    .mdl-data-table {
      width: initial;
    }
  }
.table-container tr {
  height: 3.4em;
}
/* Estilo para fila de total 
*  de la balanza de comprobación
*/
.extra-row {
  margin-top: 1em;
}
/* Estilo para mostrar saldos negativos
*  en balanza de comprobación
*/
.negavite-amount {
  color: red;
}